<div class="main">
    <mat-card>
        <mat-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <h2>Log In</h2>
                <mat-error *ngIf="loginFailed">
                    Invalid email or password
                </mat-error>

                <mat-form-field appearance="fill">
                    <input id="emailInput" type="email" matInput placeholder="Email" formControlName="email" required>
                    <mat-error>
                        Please provide a valid email address
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <input id="passwordInput" matInput [type]="hidePass ? 'password' : 'text'" placeholder="Password" formControlName="password" required>
                    <mat-icon matSuffix (click)="hidePass = !hidePass">{{hidePass ? 'visibility_off' : 'visibility'}}
                    </mat-icon>
                    <mat-error>
                        Please enter a password
                    </mat-error>
                </mat-form-field>

                <button id="loginButton" mat-raised-button color="primary" [disabled]="!loginForm.valid">Login</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>